<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIUHVyHjABaBnF2h2yROpJCroqRSzZFXg"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/custom")
        <script type="text/javascript">
            $(window).resize(function () {
                var leftPanel = $('.left-panel'),
                    rightPanel = $('.right-panel'),
                    mapResizeAmnt;

                if (leftPanel.width() == 20 && rightPanel.width() == 20) {
                    mapResizeAmnt = 40;
                } else if (leftPanel.width() == 20 && rightPanel.width() == 250) {
                    mapResizeAmnt = 270
                } else if (leftPanel.width() == 250 && rightPanel.width() == 20) {
                    mapResizeAmnt = 270
                } else if (leftPanel.width() == 250 && rightPanel.width() == 250) {
                    mapResizeAmnt = 500
                }

                Maps.resizeMap(mapResizeAmnt);
                Page.setHeight();
            });
        </script>
    </head>
    <body>
        <header class="navbar navbar-inverse navbar-fixed-top">
            @Html.ActionLink("Manasquan Live", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </header>
        <div class="page">
            @RenderBody()
            <hr />
        </div>
        <script>
            Maps.initializeMap();
            Page.setHeight();
            RightPanel.loadNews();
        </script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
